@model IEnumerable<core_lab9_3.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="bg-success">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_date_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_date_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { OrderId = item.OrderId, ProductId = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { OrderId = item.OrderId, ProductId = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { OrderId = item.OrderId, ProductId = item.ProductId })
            </td>
        </tr>
}
    </tbody>
</table>
